body {
    background-color: rgb(153, 153, 153);

    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 80%;
}

.header {
    position: relative;
    text-align: center;
    color: white;

    padding: 2em;
    margin: 1em
}

.title {
    position: absolute;
    bottom: 15px;
    left: 25%;

    display: flex;
    align-items: center;
}

h1 {
    margin: 1em;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.background-image {
    border-radius: 10px;
}

img {
    width: 50%;
    height: 30%;
}

article {
    text-align: left;
    margin-top: 0.5em;
    font-size: 1.5em;
}

.links {
    width: 100%;
    padding: 1em;
    margin: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-link {
    width: 25%;
    height: 10%;
    max-height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;

    cursor: pointer;

    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;

    background-color: rgb(7, 41, 82);

    font-size: 1.6rem;
    color: black;

    box-shadow: 10px 8px #6e6e6e;
}

h4 {
    margin: 1rem 0;
}

h4,
.card-link p {
    color: rgb(55, 157, 119)
}

.card-link>p {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    overflow-wrap: anywhere;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.3rem;
}

.card-data {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-data p {
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    color: rgb(231, 220, 13);
}